body {
    margin-top: 4.5rem;
    //background-color: #fafbfe;
}

body.login {
    margin-top: 0rem;
    background-color: #E5E5E5;
}

@mixin linear-gradient($from, $to) {
    background: $to;
    background: -moz-linear-gradient(top, $from 0%, $to 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-linear-gradient(top, $from 0%, $to 100%);
    background: -o-linear-gradient(top, $from 0%, $to 100%);
    background: linear-gradient(to bottom, $from 0%, $to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

//Site Logo
.logo {
    width: 65px;
}

.logo-login {
    width: 150px;
}

.nav-logo {
    width: 180px;
    @media (max-width: 576px) {
        width: 160px;
    }
}

// Breadcrumb
.breadcrumb {
    margin-top: 0px;
    padding: 0px;
    background: $white;
}

// View Page Title
.page-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//Scroll To Top
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    padding: 6px 12px !important;
    bottom: 50px;
    right: 5px;
    display: none;
}

// CI Server side Errors
.validation-error {
    color: $validation-error-color;
    font-size: 80%;
    margin-top: .25rem;
}

.tnc-content {
    font-size: .75rem;
    h1,
    h2 {
        font-size: 1rem;
    }
}

// Images
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dp {
    //transition: all 0.2s ease-in-out;
    height: 110px;
    width: 110px;
}

.dp-sm {
    height: 70px;
    width: 70px;
}

.dp-xs {
    height: 50px;
    width: 50px;
}

.dp-xxs {
    height: 32px;
    width: 32px;
}

.more-less {
    float: right;
    color: #212121;
}

// Profile Cards
.content-wrap {
    word-break: break-all;
}

.ci-dl {
    dt {
        font-weight: 400;
        color: $gray-600;
    }
}

// CI Calendar
.ci-calendar {
    border: 1px solid $calendar-grid-border;
    th {
        //background: $calendar-heading-bg;
        color: $gray-700;
        vertical-align: center !important;
        text-align: center;
        border-top: 1px solid $calendar-grid-border;
        //border-top: none;
    }
    tr.wk_nm {
        //background: $calendar-week-bg;
    }
    td {
        text-align: center;
        border: 1px solid $calendar-grid-border;
        vertical-align: center !important;
    }
    td[data-calday='allowed_day'].day {
        cursor: pointer;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }
    td[data-calday='disabled_day'] {
        opacity: 0.5;
        cursor: default !important;
        background: $gray-200;
    }
    .highlight {
        background: $today-highlight;
        color: $white;
    }
    .prevcell a,
    .nextcell a {
        color: $gray-900 !important;
        text-decoration: none !important;
    }
    .day.selected {
        background: $day_selected !important;
    }
    .day.holiday {
        background: $holiday;
    }
    .day.leave {
        background: $leave;
    }
    .day.filled {
        background: $has-data;
    }
}

.i-today {
    background-color: $today-highlight;
}

.i-selected {
    background-color: $day_selected;
}

.i-leave {
    background-color: $leave;
}

.i-holiday {
    background-color: $holiday;
}

.i-disabled-date {
    background-color: $gray-200;
}

.i-has-data {
    background-color: $has-data;
}

// AJAX Loader
.ajax-loader-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    .ajax-loader-img {
        width: 100px;
        height: 100px;
        position: fixed;
        left: 50%;
        top: 50%;
        margin-left: -32px;
        /* -1 * image width / 2 */
        margin-top: -32px;
        /* -1 * image height / 2 */
        display: block;
    }
}

// Navtab
.ci-nav-tab {
    .nav-link {
        &:hover,
        &:focus {
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
        }
    }
    .nav-link.active {
        border: 0;
        border-bottom: 5px solid $primary-color;
        color: inherit;
    }
}

// PACE JS
.pace {
    pointer-events: none;
    user-select: none;
    .pace-progress {
        background: #a9289a;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px
    }
    .pace-progress-inner {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #a9289a, 0 0 5px #a9289a;
        opacity: 1;
        transform: rotate(3deg) translate(0px, -4px)
    }
}

.pace-inactive {
    display: none
}

.disabled {
    opacity: .5;
}

.no-pointer {
    pointer-events: none;
}

.disabled-item {
    border: 1px solid $red;
}

//Card Legend
.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}

//DataTable Style Override
.table.ci-table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}

.table.ci-table {
    thead th,
    tfoot th {
        font-weight: 700;
        font-size: 80%;
    }
}

//CI Accordion 
.ci-accordion-card {
    border: none;
    .card-header {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
    }
    .card-body {
        padding-left: 0px;
    }
}

.accordion {
    .card-header {
        cursor: pointer;
    }
    .card-header:before {
        font-family: 'FontAwesome';
        content: "\f068";
        margin-right: 15px;
    }
    .card-header.collapsed:before {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }
}

// CI Wizard - Step wise progress indicator
.ci-wizard {
    padding: 0 0 10px 0;
    >.ci-wizard-step {
        padding: 0;
        position: relative;
        @media(max-width: 575px) {
            margin-top: 15px;
            margin-bottom: 30px;
            padding-top: 15px;
        }
        +.ci-wizard-step {}
        .ci-wizard-stepnum {
            color: $gray-700;
        }
        .ci-wizard-info {
            color: $gray-700;
            label {
                cursor: pointer;
            }
        }
        > {
            .ci-wizard-dot {
                position: absolute;
                width: 30px;
                height: 30px;
                display: block;
                background: lighten($yellow, 30%);
                top: 45px;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                @media(max-width: 575px) {
                    top: 0px;
                }
                &:after {
                    content: ' ';
                    width: 14px;
                    height: 14px;
                    background: $yellow;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
            }
            .ci-wizard-dot.A {
                background: lighten($green, 30%);
                &:after {
                    background: $green;
                }
            }
            .ci-wizard-dot.R {
                background: lighten($red, 30%);
                &:after {
                    background: $red;
                }
            }
            .progress {
                position: relative;
                border-radius: 0px;
                height: 8px;
                box-shadow: none;
                margin: 20px 0;
                @media(max-width: 575px) {
                    display: none;
                }
                >.progress-bar {
                    width: 0px;
                    box-shadow: none;
                    background: lighten($yellow, 30%);
                }
            }
        }
        &.complete>.progress>.progress-bar {
            width: 100%;
        }
        &.active>.progress>.progress-bar {
            width: 50%;
        }
        &:first-child.active>.progress>.progress-bar {
            width: 0%;
        }
        &:last-child.active>.progress>.progress-bar {
            width: 100%;
        }
        &.disabled>.ci-wizard-dot {
            background-color: $gray-300;
            &:after {
                opacity: 0;
            }
        }
        &:first-child>.progress {
            left: 50%;
            width: 50%;
        }
        &:last-child>.progress {
            width: 50%;
        }
        &.disabled a.ci-wizard-dot {
            pointer-events: none;
        }
    }
}

// Color Graph
.colorgraph-1 {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.colorgraph-2 {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    background: -webkit-gradient(linear, left top, right top, from ($from_color), to ($to_color));
    background: linear-gradient(to right, $from_color, $to_color);
}

.colorgraph-navbar::after {
    content: "";
    height: 5px;
    background: -webkit-gradient(linear, left top, right top, from ($from_color), to ($to_color));
    background: linear-gradient(to right, $from_color, $to_color);
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: 0;
}

//News Feed 
.news-card {
    .subject-title {
        font-weight: 600;
    }
    .card-body {
        padding: 15px;
    }
}

.news-card-details {
    .card-body {
        img {
            width: 100%;
        }
    }
}

.card-stat {
    .card-body a {
        color: inherit !important;
        text-decoration: none;
    }
}

// Generate Lighter Background
// @each $color,
// $value in $theme-colors {
//     @include bg-variant(".bg-light-#{$color}", lighten($value, 30%));
// }
// CI card
// Componant: Card
.ci-card {
    //box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-width: 0;
    transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
        .card-title {
            //text-transform: uppercase;
            color: rgba(13, 27, 62, 0.7);
            font-weight: bold;
            font-size: 0.88rem;
        }
    }
    .card-header,
    .card-title {
        //text-transform: uppercase;
        color: rgba(13, 27, 62, 0.7);
        font-weight: bold;
        font-size: 0.88rem;
        background-color: none;
        border-bottom: none;
    }
    .card-title {
        margin-bottom: 0.75rem;
    }
    .card-footer {
        background-color: rgba(0, 0, 0, 0);
        border-top: none;
    }
}

//Navbar
// Make nav bar scrolable in SM devices once menu items are many
// @media (max-width: 576px) {
//     .navbar-collapse {
//         max-height: 340px;
//         overflow-y: auto;
//     }
// }
.no-toggle-icon {
    .dropdown-toggle::after {
        display: none;
    }
}

.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: -.3em 0 0 .4em;
    vertical-align: middle;
    content: "";
    border: .3em solid;
    border-width: 0 .15em .15em 0;
    transform: rotatez(45deg);
}

.bg-black {
    background-color: $black !important;
}

.navbar .nav-item {
    margin: 0px 10px 0px 10px;
}

// .navbar-dark .navbar-nav .nav-link {
//     &:hover,
//     &:focus {
//         text-decoration: underline;
//     }
// }
.notification {
    min-width: 270px;
}

.notification-title {
    padding: 8px 20px;
    text-align: center;
    background-color: transparentize($primary-color, 0.6);
    color: #333;
}

.notification-footer {
    padding: 8px 20px;
    text-align: center;
    background-color: #eee;
}

.notification-content {
    max-height: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
}

.notification-item {
    display: flex;
    padding: 8px 20px;
    color: inherit;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    &:focus,
    &:hover {
        color: inherit;
        text-decoration: none;
        background-color: #e0e0e0;
    }
}

.notification-message,
.notification-meta {
    margin-bottom: 0;
}

.notification-icon {
    padding-right: 10px;
}

.notification-message {
    line-height: 1.2;
}

.notification-meta {
    @extend .text-muted;
}

//Forms
.form-signin {
    padding: 15px;
    width: 100%;
    max-width: 350px;
    /*margin:10vh auto;*/
    .logo-2x {
        width: 150px;
    }
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

// label.required::after {
//     content: ' *';
//     font-weight: 400;
//     color: $mandatory_field_star-color;
// }
label.optional::after {
    content: ' (optional)';
    font-size: 90%;
    color: $gray-500;
}

.ci-form-help-text {
    font-size: 80%;
}

// Custom Form Control
.custom-control-label {
    &::before {
        border: $input-border-width solid $input-border-color;
    }
}

// Primary , Secondary CTA
// .ci-btn-primary {
//     &::before {
//         font-family: FontAwesome;
//         content: "\f058";
//         vertical-align: middle;
//         margin-right: 5px;
//         display: inline-block;
//         font-style: normal;
//         font-variant: normal;
//         text-rendering: auto;
//         -webkit-font-smoothing: antialiased;
//     }
// }
// Select2 Style
.select2-selection {
    height: calc(2.0625rem + 2px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 31px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px !important;
}

.select2-container--default .select2-selection--single {
    border: $input-border-width solid $input-border-color !important;
    // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
    @if $enable-rounded {
        // Manually use the if/else instead of the mixin to account for iOS override
        border-radius: $input-border-radius;
    }
    @else {
        // Otherwise undo the iOS default
        border-radius: 0;
    }
    @include box-shadow($input-box-shadow);
    @include transition($input-transition);
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        background-color: transparent;
        border: 0;
    }
    // Customize the `:focus` state to imitate native WebKit styles.
    @include form-control-focus();
}

.ci-select2 {
    .select2-container {
        max-width: 100%;
    }
}

.card-login {
    max-width: 25rem;
}

// Bootstrap 4 Floating Label
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group {
    label,
    input {
        padding: 0.75rem 0.75rem;
    }
    label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: $gray-700;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }
    input:-ms-input-placeholder,
    input::-ms-input-placeholder,
    input::-moz-placeholder,
    input::placeholder {
        color: transparent;
    }
    input:not(:placeholder-shown) {
        padding-top: calc(0.75rem + 0.75rem * (2 / 3));
        padding-bottom: calc(0.75rem / 3);
    }
    input:not(:placeholder-shown)~label {
        padding-top: calc(0.75rem / 3);
        padding-bottom: calc(0.75rem / 3);
        font-size: 12px;
        color: $gray-600;
    }
    .form-control {
        height: auto;
    }
}

.ci-link-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-end !important;
}

.user-profile-section {
    margin: 10px 0px 15px 0px;
    .section-heading {
        color: $gray-600;
        font-weight: 700;
        font-size: 90%;
    }
}

.user-profile-card-people {
    color: inherit;
    text-decoration: none !important;
}

// Dashboard statistics
.stat {
    padding: 15px 0px 15px 0px;
    .count {
        font-weight: 700;
    }
}

.stat:not(:last-child) {
    border-bottom: 1px solid $gray-400;
}

// Mega menu
.bs-mega-menu {
    position: static !important;
    .dropdown-mega-menu {
        @if $mega_menu_theme==dark {
            background-color: $bs_mega_menu_dark_background_color;
        }
        @if $mega_menu_theme==light {
            background-color: $bs_mega_menu_light_background_color;
        }
        padding: 20px 20px;
        width: 100%;
        box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
        0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
        0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
        0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
        //border-width: 0;
        transition: all .2s;
        li>ul {
            padding: 0;
            margin: 0;
        }
        li>ul>li {
            list-style: none;
            a {
                display: block;
                padding: 8px 20px;
                clear: both;
                font-weight: normal;
                @if $mega_menu_theme==dark {
                    color: $bs_mega_menu_dark_nav_link_color;
                }
                @if $mega_menu_theme==light {
                    color: $bs_mega_menu_light_nav_link_color;
                }
                white-space: normal;
                &:hover,
                &:focus {
                    text-decoration: none;
                    @if $mega_menu_theme==dark {
                        color: $bs_mega_menu_dark_nav_link_hover_color;
                    }
                    @if $mega_menu_theme==light {
                        color: $bs_mega_menu_light_nav_link_hover_color;
                    }
                    @if $mega_menu_theme==dark {
                        background-color: $bs_mega_menu_dark_nav_link_hover_bg_color;
                    }
                    @if $mega_menu_theme==light {
                        background-color: $bs_mega_menu_light_nav_link_hover_bg_color;
                    }
                }
            }
        }
        .dropdown-header {
            font-size: 1.25rem;
            @if $mega_menu_theme==dark {
                color: $bs_mega_menu_dark_dropdown_header_color;
            }
            @if $mega_menu_theme==light {
                color: $bs_mega_menu_light_dropdown_header_color;
            }
        }
        .dropdown-item {
            &:active {
                @if $mega_menu_theme==dark {
                    background-color: $bs_mega_menu_dark_dropdown_item_box_hover_bg_color;
                }
                @if $mega_menu_theme==light {
                    background-color: $bs_mega_menu_light_dropdown_item_box_hover_bg_color;
                }
                a {
                    &:active {
                        @if $mega_menu_theme==dark {
                            background-color: $bs_mega_menu_dark_nav_link_active_bg_color;
                            color: $bs_mega_menu_dark_nav_link_active_color;
                        }
                        @if $mega_menu_theme==light {
                            background-color: $bs_mega_menu_light_nav_link_active_bg_color;
                            color: $bs_mega_menu_light_nav_link_active_color;
                        }
                    }
                }
            }
            &:hover {
                @if $mega_menu_theme==dark {
                    background-color: $bs_mega_menu_dark_dropdown_item_box_hover_bg_color;
                }
                @if $mega_menu_theme==light {
                    background-color: $bs_mega_menu_light_dropdown_item_box_hover_bg_color;
                }
                .dropdown-header {
                    @if $mega_menu_theme==dark {
                        color: $bs_mega_menu_dark_dropdown_header_hover_color;
                    }
                    @if $mega_menu_theme==light {
                        color: $bs_mega_menu_light_dropdown_header_hover_color;
                    }
                }
            }
        }
        .divider {
            margin-top: 15px;
        }
        .card {
            outline: none;
        }
        .card:hover,
        .card:focus {
            outline: 1px solid $black;
        }
        .disabled a {
            color: $gray-500;
            &:hover,
            &:focus {
                color: $gray-500;
                text-decoration: none;
                background-color: transparent;
                background-image: none;
                cursor: not-allowed;
            }
        }
    } //dropdown-mega-menu
    @media (max-width: 768px) {
        .dropdown-mega-menu {
            margin-left: 0;
            margin-right: 0;
        }
        .dropdown-mega-menu>li {
            margin-bottom: 30px;
        }
        .dropdown-mega-menu>li:last-child {
            margin-bottom: 0;
        }
        .dropdown-mega-menu.dropdown-header {
            padding: 3px 15px !important;
        }
        .navbar-nav .open .dropdown-menu .dropdown-header {
            color: $white;
        }
    }
} //bs-mega-menu
// Full Calendar Styling
#ci_full_calendar {
    .fc-header-toolbar {
        h2 {
            font-size: 1.25rem;
        }
    }
    .fc-title {
        font-size: 13px;
    }
    .fc-header-toolbar {
        h2 {
            font-size: 1rem;
        }
        .fc-button {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }
    }
    .fc-widget-header {
        font-size: .875rem;
    }
    // Worked
    // .fc-event {
    //     width: 17px;
    //     border-radius: 11px;
    // }
    // .fc-content {
    //     color: rgba(255, 0, 0, 0.01);
    // }
}

// End of Full Calendar Styling
// Widget
.bg-transparent {
    background: transparent !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.ci-card-widget {
    @media (max-width: 991.98px) {
        .bg-transparent.list-group-item {
            border-color: transparent;
        }
    }
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    .widget-content-outer {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .widget-content-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        align-items: center;
    }
    .widget-numbers {
        font-weight: bold;
        font-size: 1.5rem;
        display: block;
        @media (max-width: 576px) {
            font-size: 1.25rem;
        }
    }
    .widget-content-left {
        .widget-heading {
            //opacity: .8;
            //font-weight: bold;
        }
        .widget-subheading {
            opacity: .5;
            font-size: .875rem;
        }
    }
    .widget-content-right {
        margin-left: auto;
    }
}


/*
Sidebar Style
App with header, toggle side bar
*/

.app {
    // On large devices make sidebar visible by default
    // adding sidenav-toggled class will close sidebar
    @media(min-width: 768px) {
        &.sidenav-toggled {
            .main-content {
                margin-left: 0;
            }
            .sidebar {
                left: -$sidebar-width;
            }
            .sidebar-overlay {
                visibility: hidden;
            }
        }
    }
    // On small devices make sidebar collapsed by default
    // adding sidenav-toggled class will open sidebar
    @media(max-width: 767px) {
        overflow-x: hidden;
        .sidebar {
            left: -$sidebar-width;
        }
        .sidebar-overlay {
            visibility: hidden;
        }
        &.sidenav-toggled {
            .main-content {
                margin-left: 0;
            }
            .sidebar {
                left: 0;
            }
            .sidebar-overlay {
                visibility: visible;
            }
        }
    }
}

.main-content {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
    transition: margin-left 0.3s ease;
    // background-color: $gray-100;
    @media(min-width: 768px) {
        margin-left: $sidebar-width;
    }
    @media(max-width: 767px) {
        margin-top: 0px;
        min-width: 100%;
    }
    @media(max-width: 480px) {
        padding: 15px;
    }
    @media print {
        margin: 0;
        padding: 0;
    }
}


/*----- Componant: Navigation Bar ----- */

.header-navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: $primary-color;
    z-index: 1030;
    padding-right: 15px;
    @media(min-width: 768px) {
        padding-right: 30px
    }
    @media print {
        display: none;
    }
    .navbar-toggler {
        transition: background-color 0.3s ease;
        line-height: 2px;
        @media(max-width: 767px) {
            order: -1;
        }
        @media (min-width: 576px) {
            display: block;
        }
        &:focus,
        &:hover {
            color: #fff;
            background-color: darken($primary-color, 10);
        }
    }
    .navbar-brand {
        flex: 1 0 auto;
        text-align: center;
        padding: 0 15px;
        padding-right: 0;
        margin: 0;
        font-size: 1rem;
        @media(max-width: 575px) {
            text-align: left;
        }
        @media(min-width: 768px) {
            flex: 0 0 auto;
            display: block;
            //width: $sidebar-width;
        }
        &:focus,
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    .navbar-nav {
        .show>.nav-link,
        .active>.nav-link,
        .nav-link.show,
        .nav-link.active {
            font-weight: 700;
        }
    }
    .navbar {
        padding: 0px;
        .dropdown-toggle {
            &:after {
                content: none;
            }
        }
    }
    .search {
        position: relative;
        display: flex;
        @media(max-width: 575px) {
            display: none;
        }
    }
    .search-input {
        border: 0;
        padding: 5px 10px;
        padding-right: 30px;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.8);
        transition: background-color 0.3s ease;
        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
        }
    }
    .search-button {
        position: absolute;
        right: 0;
        top: 10px;
        bottom: 10px;
        padding: 0 10px;
        border: 0;
        color: rgba(0, 0, 0, 0.8);
        background: none;
        cursor: pointer;
    }
    .notification {
        min-width: 270px;
    }
    .notification-title {
        padding: 8px 20px;
        text-align: center;
        background-color: transparentize($primary-color, 0.6);
        color: #333;
    }
    .notification-footer {
        padding: 8px 20px;
        text-align: center;
        background-color: #eee;
    }
    .notification-content {
        max-height: 220px;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.2);
        }
    }
    .notification-item {
        display: flex;
        padding: 8px 20px;
        color: inherit;
        border-bottom: 1px solid #ddd;
        transition: background-color 0.3s ease;
        &:focus,
        &:hover {
            color: inherit;
            text-decoration: none;
            background-color: #e0e0e0;
        }
    }
    .notification-message,
    .notification-meta {
        margin-bottom: 0;
    }
    .notification-icon {
        padding-right: 10px;
    }
    .notification-message {
        line-height: 1.2;
    }
    .notification-meta {
        @extend .text-muted;
    }
    @media (max-width: 575px) {
        .navbar-nav {
            flex-direction: row;
        }
        .navbar-nav .dropdown-menu {
            position: absolute;
        }
        .navbar-nav .nav-link {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
            margin-right: 1.5rem;
            margin-left: 1rem;
        }
    }
}

// Componant: Sidebar 
.sidebar-toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.4;
    transition: background-color 0.3s ease;
    @media(max-width: 767px) {
        order: -1;
    }
    &:before {
        content: "\f0c9";
        font-size: 21px;
    }
    &:focus,
    &:hover {
        color: #fff;
        background-color: darken($primary-color, 10);
        text-decoration: none;
    }
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    @if $sidebar-accent==dark {
        color: $sidebar-dark-text-color;
    }
    @if $sidebar-accent==light {
        color: $sidebar-light-text-color;
    }
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 60px;
    width: $sidebar-width;
    overflow: auto;
    z-index: 10;
    @if $sidebar-accent==dark {
        background-color: $sidebar-dark-bg-color;
    }
    @if $sidebar-accent==light {
        background-color: $sidebar-light-bg-color;
    }
    //box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
    transition: left 0.3s ease,
    width 0.3s ease;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
    @media print {
        display: none;
    }
}

.sidebar-overlay {
    @media(max-width: 767px) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
    }
}

.sidebar-user {
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar-user-avatar {
    @extend .rounded-circle;
    flex: 0 0 auto;
    margin-right: 15px;
    height: 48px;
    width: 48px;
}

.sidebar-user-name {
    line-height: 1.3;
}

.sidebar-user-name,
.sidebar-user-designation {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.menu {
    @extend .list-unstyled;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    //@debugfont-size: 1.08em;
    border-left: 3px solid transparent;
    transition: border-left-color 0.3s ease, background-color 0.3s ease;
    @if $sidebar-accent==dark {
        color: $sidebar-dark-link-color;
    }
    @if $sidebar-accent==light {
        color: $sidebar-light-link-color;
    }
    &.active,
    &:hover,
    &:focus {
        background: $sidebar-active-hover-focus-bg-color;
        border-left-color: $sidebar-border-left-color;
        text-decoration: none;
        @if $sidebar-accent==dark {
            color: $sidebar-dark-link-color-hover;
        }
        @if $sidebar-accent==light {
            color: $sidebar-light-link-color-hover;
        }
    }
}

.menu-icon {
    flex: 0 0 auto;
    width: 25px;
}

.menu-label {
    white-space: nowrap;
    flex: 1 1 auto;
    margin-left: 10px;
}

.treeview {
    &.is-expanded {
        [data-toggle='treeview'] {
            border-left-color: $sidebar-border-left-color;
            background: $sidebar-active-hover-focus-bg-color;
        }
        .treeview-menu {
            max-height: 100vh;
        }
        .treeview-indicator {
            transform: rotate(90deg);
        }
    }
}

.treeview-menu {
    @extend .list-unstyled;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    @if $sidebar-accent==dark {
        background: $sidebar-dark-nested-menu-bg;
    }
    @if $sidebar-accent==light {
        background: $sidebar-light-nested-menu-bg;
    }
}

.treeview-item-heading {
    align-items: center;
    //padding: 5px 5px 0px 20px;
    font-size: 80%;
    color: $gray-600;
    margin: 5px 5px 0px 20px;
    text-transform: uppercase;
    &:not(:first-child) {
        margin-top: 15px;
    }
    span {
        // &:before {
        //     font-family: 'FontAwesome';
        //     content: "\f105";
        //     margin-right: 10px;
        // }
    }
}

.treeview-item {
    display: flex;
    align-items: center;
    padding: 8px 5px 8px 20px;
    font-size: .875rem;
    @if $sidebar-accent==dark {
        color: $sidebar-dark-link-color
    }
    @if $sidebar-accent==light {
        color: $sidebar-light-link-color
    }
    &.active,
    &:hover,
    &:focus {
        background: $sidebar-active-hover-focus-bg-color;
        text-decoration: none;
        @if $sidebar-accent==dark {
            color: $sidebar-dark-link-color-hover;
        }
        @if $sidebar-accent==light {
            color: $sidebar-light-link-color-hover;
        }
    }
    .icon {
        margin-right: 5px;
    }
}

.treeview-indicator {
    transform-origin: center;
    transition: transform 0.3s ease;
}

// Componant: Sidebar Mini
@media (min-width: 768px) {
    .sidebar-mini.sidenav-toggled {
        .sidebar-user-name,
        .sidebar-user-designation,
        .treeview-indicator {
            display: none;
        }
        .sidebar-user-avatar {
            width: 30px;
            height: 30px;
        }
        .main-content {
            margin-left: 50px;
        }
        .sidebar {
            left: 0;
            width: 50px;
            overflow: hidden;
            &:hover {
                overflow: visible;
            }
        }
        .menu-item {
            overflow: hidden;
            &:hover {
                overflow: visible;
                .menu-label {
                    opacity: 1;
                }
                &+.treeview-menu {
                    visibility: visible;
                }
            }
        }
        .menu-label {
            display: block;
            position: absolute;
            top: 0;
            left: 50px;
            min-width: 180px;
            padding: 12px 5px 12px 20px;
            margin-left: -3px;
            line-height: 1;
            opacity: 0;
            background: $sidebar-active-hover-focus-bg-color;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .treeview {
            &:hover {
                .menu-item {
                    overflow: visible;
                    background: $sidebar-active-hover-focus-bg-color;
                    border-left-color: $sidebar-border-left-color;
                    @if $sidebar-accent==dark {
                        color: $sidebar-dark-link-color-hover;
                    }
                    @if $sidebar-accent==light {
                        color: $sidebar-light-link-color-hover;
                    }
                }
                .menu-label {
                    opacity: 1;
                }
                .treeview-menu {
                    max-height: 100vh;
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                }
            }
            .menu-label {
                border-bottom-right-radius: 0;
            }
        }
        .treeview-menu {
            position: absolute;
            left: 50px;
            min-width: 180px;
            padding: 12px 0;
            opacity: 0;
            border-bottom-right-radius: 4px;
            z-index: 9;
            visibility: hidden;
            transition: visibility 0.3s ease;
        }
    }
}


/*
Sidebar Style
App with header, toggle side bar
*/