body {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

body.login {
    margin-top: 0rem;
    //@include linear-gradient(lighten($primary-color, 0%), $primary-color);
}

.app {
    // On large devices make sidebar visible by default
    // adding sidenav-toggled class will close sidebar
    @media(min-width: 768px) {
        &.sidenav-toggled {
            .main-content {
                margin-left: 0;
            }
            .sidebar {
                left: -$sidebar-width;
            }
            .sidebar-overlay {
                visibility: hidden;
            }
        }
    }
    // On small devices make sidebar collapsed by default
    // adding sidenav-toggled class will open sidebar
    @media(max-width: 767px) {
        overflow-x: hidden;
        .sidebar {
            left: -$sidebar-width;
        }
        .sidebar-overlay {
            visibility: hidden;
        }
        &.sidenav-toggled {
            .main-content {
                margin-left: 0;
            }
            .sidebar {
                left: 0;
            }
            .sidebar-overlay {
                visibility: visible;
            }
        }
    }
}

.main-content {
    min-height: calc(100vh - 50px);
    margin-top: 50px;
    padding: 0px 30px 0px 30px;
    transition: margin-left 0.3s ease;
    // background-color: $gray-100;
    @media(min-width: 768px) {
        margin-left: $sidebar-width;
    }
    @media(max-width: 767px) {
        margin-top: 0px;
        min-width: 100%;
    }
    @media(max-width: 480px) {
        padding: 15px;
    }
    @media print {
        margin: 0;
        padding: 0;
    }
}

//Site Logo
.logo {
    width: 190px;
    @media(max-width: 575px) {
        width: 145px;
    }
}

.logo-2x {
    width: 150px;
}

// Page Heading
h1.page-heading {
    font-size: 1.75rem;
    font-weight: 300;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//Scroll To Top
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    padding: 6px 12px !important;
    bottom: 50px;
    right: 5px;
    display: none;
}

// CI Server side Errors
.validation-error {
    color: $validation-error-color;
    font-size: .875rem;
}

.tnc-content {
    font-size: .75rem;
    h1,
    h2 {
        font-size: 1rem;
    }
}

// Images
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dp {
    //transition: all 0.2s ease-in-out;
    height: 110px;
    width: 110px;
    &:hover {
        // border: 2px solid #eee;
        // transform: rotate(360deg);
        // -ms-transform: rotate(360deg);
        // -webkit-transform: rotate(360deg);
        // -webkit-font-smoothing: antialiased;
        // height: 180px;
        // width: 180px;
    }
}

.dp-sm {
    height: 70px;
    width: 70px;
}

.dp-xs {
    height: 50px;
    width: 50px;
}

.dp-xxs {
    height: 32px;
    width: 32px;
}

.more-less {
    float: right;
    color: #212121;
}

// Profile Cards
.content-wrap {
    word-break: break-all;
}

a[data-link-type="user-profile-card"] {
    text-decoration: none;
    color: inherit;
}

.user-profile-card a {
    text-decoration: none;
}

.user-profile-card {
    .profile-header {
        background-color: $gray-200;
        border-top: 2px solid $primary-color;
    }
    dt {
        /*font-weight: normal;*/
        color: $gray-700;
    }
}

.heading-container {
    .breadcrumb {
        margin-top: 0px;
        padding: 0px;
        background: $white;
    }
}

// CI Calendar
.ci-calendar {
    border: 2px solid $calendar-border;
    th {
        background: $calendar-heading-bg;
        font-size: 1rem;
        color: $white;
        vertical-align: center !important;
        text-align: center;
    }
    tr.wk_nm {
        background: $calendar-week-bg;
        color: $white;
        /*font-weight:bold;*/
    }
    td {
        text-align: center;
        border: 1px solid $calendar-grid-border;
        vertical-align: center !important;
    }
    td[data-calday='allowed_day'].day {
        cursor: pointer;
        a {
            color: inherit;
            &:hover {
                text-decoration: none;
            }
        }
    }
    td[data-calday='disabled_day'] {
        opacity: 0.5;
        cursor: default !important;
        background: $gray-lightest;
    }
    .highlight {
        background: $today-highlight;
        color: $white;
    }
    .prevcell a,
    .nextcell a {
        color: $white !important;
        text-decoration: none !important;
    }
    .day.selected {
        background: $day_selected !important;
    }
    .day.holiday {
        background: $holiday;
    }
    .day.leave {
        background: $leave;
    }
    .day.filled {
        background: $has-data;
    }
}

.i-today {
    background-color: $today-highlight;
}

.i-selected {
    background-color: $day_selected;
}

.i-leave {
    background-color: $leave;
}

.i-holiday {
    background-color: $holiday;
}

.i-has-data {
    background-color: $has-data;
}

// AJAX Loader
.ajax-loader-ui {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
}

.ajax-loader-img {
    width: 100px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    /* -1 * image width / 2 */
    margin-top: -32px;
    /* -1 * image height / 2 */
    display: block;
    /* If using image them remove background-image attribute */
    background-image: url("data:image/svg+xml,%3Csvg width='60px' height='60px' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-ring' style='background: none;'%3E%3Ccircle cx='50' cy='50' ng-attr-r='%7B%7Bconfig.radius%7D%7D' ng-attr-stroke='%7B%7Bconfig.base%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.width%7D%7D' fill='none' r='30' stroke='%23cfcfcf' stroke-width='10'%3E%3C/circle%3E%3Ccircle cx='50' cy='50' ng-attr-r='%7B%7Bconfig.radius%7D%7D' ng-attr-stroke='%7B%7Bconfig.stroke%7D%7D' ng-attr-stroke-width='%7B%7Bconfig.innerWidth%7D%7D' ng-attr-stroke-linecap='%7B%7Bconfig.linecap%7D%7D' fill='none' r='30' stroke='"+$ajaxloader-color+"' stroke-width='10' stroke-linecap='square' transform='rotate(304.375 50 50)'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;180 50 50;720 50 50' keyTimes='0;0.5;1' dur='1s' begin='0s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Canimate attributeName='stroke-dasharray' calcMode='linear' values='18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882' keyTimes='0;0.5;1' dur='1' begin='0s' repeatCount='indefinite'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

// Nav Tabs
.nav-link.active {
    border: 0;
    border-bottom: 1px solid $nav-tabs-border-color;
}

// PACE JS
.pace {
    pointer-events: none;
    user-select: none;
    .pace-progress {
        background: #a9289a;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px
    }
    .pace-progress-inner {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #a9289a, 0 0 5px #a9289a;
        opacity: 1;
        transform: rotate(3deg) translate(0px, -4px)
    }
}

.pace-inactive {
    display: none
}

.disabled {
    opacity: .5;
}

.no-pointer {
    pointer-events: none;
}

.disabled-item {
    border: 1px solid $red;
}

//Card Legend
.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}

//DataTable Style Override
table.ci-table.dataTable {
    clear: both;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    max-width: none !important;
    border-collapse: collapse !important;
}

//CI Accordion 
.ci-accordion-card {
    border: none;
    .card-header {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
    }
    .card-body {
        padding-left: 0px;
    }
}

// CI Wizard - Step wise progress indicator
.ci-wizard {
    padding: 0 0 10px 0;
    >.ci-wizard-step {
        padding: 0;
        position: relative;
        @media(max-width: 575px) {
            margin-top: 15px;
            margin-bottom: 30px;
            padding-top: 15px;
        }
        +.ci-wizard-step {}
        .ci-wizard-stepnum {
            color: $gray-700;
        }
        .ci-wizard-info {
            color: $gray-700;
            label {
                cursor: pointer;
            }
        }
        > {
            .ci-wizard-dot {
                position: absolute;
                width: 30px;
                height: 30px;
                display: block;
                background: lighten($yellow, 30%);
                top: 45px;
                left: 50%;
                margin-top: -15px;
                margin-left: -15px;
                border-radius: 50%;
                @media(max-width: 575px) {
                    top: 0px;
                }
                &:after {
                    content: ' ';
                    width: 14px;
                    height: 14px;
                    background: $yellow;
                    border-radius: 50px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
            }
            .ci-wizard-dot.A {
                background: lighten($green, 30%);
                &:after {
                    background: $green;
                }
            }
            .ci-wizard-dot.R {
                background: lighten($red, 30%);
                &:after {
                    background: $red;
                }
            }
            .progress {
                position: relative;
                border-radius: 0px;
                height: 8px;
                box-shadow: none;
                margin: 20px 0;
                @media(max-width: 575px) {
                    display: none;
                }
                >.progress-bar {
                    width: 0px;
                    box-shadow: none;
                    background: lighten($yellow, 30%);
                }
            }
        }
        &.complete>.progress>.progress-bar {
            width: 100%;
        }
        &.active>.progress>.progress-bar {
            width: 50%;
        }
        &:first-child.active>.progress>.progress-bar {
            width: 0%;
        }
        &:last-child.active>.progress>.progress-bar {
            width: 100%;
        }
        &.disabled>.ci-wizard-dot {
            background-color: $gray-300;
            &:after {
                opacity: 0;
            }
        }
        &:first-child>.progress {
            left: 50%;
            width: 50%;
        }
        &:last-child>.progress {
            width: 50%;
        }
        &.disabled a.ci-wizard-dot {
            pointer-events: none;
        }
    }
}

// Color Graph
.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.nav-colorgraph {
    border-bottom: 2px solid lighten($primary-color, 10%);
    .nav-link {
        color: $black;
    }
}

//News Feed 
.card-recent-updates {
    .subject-title {
        font-weight: 600;
    }
}

// Generate Lighter Background
@each $color,
$value in $theme-colors {
    @include bg-variant(".bg-light-#{$color}",
    lighten($value, 30%));
}