/*----- Componant: Top Navigation Bar ----- */

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: $primary-color;
    z-index: 1030;
    padding-right: 15px;
    @media(min-width: 768px) {
        padding-right: 30px
    }
    @media print {
        display: none;
    }
}

.navbar-brand {
    flex: 1 0 auto;
    color: #fff;
    text-align: center;
    padding: 0 15px;
    padding-right: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 50px;
    @media(max-width: 575px) {
        text-align: left;
    }
    @media(min-width: 768px) {
        flex: 0 0 auto;
        display: block;
        width: 230px;
        @if $sidebar-accent==dark {
            background-color: darken( $primary-color, 5%);
        }
        @if $sidebar-accent==light {
            background-color: lighten( $primary-color, 5%);
        }
    }
    &:focus,
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}

.sidebar-toggle {
    padding: 0 15px;
    font-family: fontAwesome;
    color: #fff;
    line-height: 2.4;
    transition: background-color 0.3s ease;
    @media(max-width: 767px) {
        order: -1;
    }
    &:before {
        content: "\f0c9";
        font-size: 21px;
    }
    &:focus,
    &:hover {
        color: #fff;
        background-color: darken($primary-color, 10);
        text-decoration: none;
    }
}

.navbar {
    padding: 0;
    @media(min-width: 768px) {
        flex: 1 0 auto;
    }
    .dropdown-toggle {
        &:after {
            content: none;
        }
    }
    .nav-icon-adjust {
        padding: 5px;
        display: block;
    }
}

.search {
    position: relative;
    display: flex;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
    @media(max-width: 480px) {
        display: none;
    }
}

.search-input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
    &::placeholder {
        color: rgba(0, 0, 0, 0.4);
    }
}

.search-button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(0, 0, 0, 0.8);
    background: none;
    cursor: pointer;
}

.notification {
    min-width: 270px;
}

.notification-title {
    padding: 8px 20px;
    text-align: center;
    background-color: transparentize($primary-color, 0.6);
    color: #333;
}

.notification-footer {
    padding: 8px 20px;
    text-align: center;
    background-color: #eee;
}

.notification-content {
    max-height: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
    }
}

.notification-item {
    display: flex;
    padding: 8px 20px;
    color: inherit;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease;
    &:focus,
    &:hover {
        color: inherit;
        text-decoration: none;
        background-color: #e0e0e0;
    }
}

.notification-message,
.notification-meta {
    margin-bottom: 0;
}

.notification-icon {
    padding-right: 10px;
}

.notification-message {
    line-height: 1.2;
}

.notification-meta {
    @extend .text-muted;
}

@media (max-width: 575px) {
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        margin-right: 1.5rem;
        margin-left: 1rem;
    }
}