@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.body-with-sidebar-layout {
    font-family: 'Poppins', sans-serif;
    background-color: #ebedef;
    a:not(.btn) {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }
    .navbar {
        padding: 15px 10px;
        background: $white;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }
    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }
    .wrapper {
        display: flex;
        width: 100%;
    }
    #sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 999;
        background: #7386D5;
        color: $white;
        transition: all 0.3s;
        &.active {
            margin-left: -250px;
        }
        .sidebar-header {
            padding: 20px;
            background: #6d7fcc;
            h3 {
                font-weight: 400;
            }
        }
        .dropdown-toggle::after {
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
        }
        ul {
            &.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }
            p {
                color: $white;
                padding: 10px;
            }
            li a {
                padding: 10px;
                font-size: 1.1em;
                display: block;
                &:hover {
                    color: #7386D5;
                    background: $white;
                }
            }
            li.active>a,
            a[aria-expanded="true"] {
                color: $white;
                background: #6d7fcc;
            }
            a[data-toggle="collapse"] {
                position: relative;
            }
            ul a {
                font-size: 0.9em !important;
                padding-left: 30px !important;
                background: #6d7fcc;
            }
        }
        ul.CTAs {
            padding: 20px;
            a {
                text-align: center;
                font-size: 0.9em !important;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
                &.download {
                    background: $white;
                    color: #7386D5;
                }
                &.article {
                    background: #6d7fcc !important;
                    color: $white !important;
                }
            }
        }
    }
    #content {
        width: calc(100% - 250px);
        padding: 40px;
        @media (max-width: 576px) {
            padding: 15px;
        }
        min-height: 100vh;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        &.active {
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        #sidebar {
            margin-left: -250px;
            &.active {
                margin-left: 0;
            }
        }
        #content {
            width: 100%;
            &.active {
                width: calc(100% - 250px);
            }
        }
        #sidebarCollapse span {
            display: none;
        }
    }
}