.card-legend {
    border-top-width: 2px;
    border-top-color: $primary-color;
    .text-on-card {
        background: #fff none repeat scroll 0 0;
        height: auto;
        padding: 3px 5px;
        position: absolute;
        margin-top: -43px;
        border-radius: 8px;
    }
    .card-body {
        padding-top: 30px !important;
    }
}

.card-login {
    max-width: 25rem;
}

.ci-accordion-card {
    border: none;
    .card-header {
        padding: 0.5rem 0.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid $primary-color;
        background-color: transparent;
    }
    .card-body {
        padding-left: 0px;
    }
}

.accordion {
    .card-header {
        cursor: pointer;
    }
    .card-header:before {
        font-family: 'FontAwesome';
        content: "\f068";
        margin-right: 15px;
    }
    .card-header.collapsed:before {
        /* symbol for "collapsed" panels */
        content: "\f067";
    }
}

.news-card-details {
    .card-body {
        img {
            width: 100%;
        }
    }
}

.ci-card {
    //box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px 0 rgba(60, 75, 100, .14), 0 2px 1px -1px rgba(60, 75, 100, .12), 0 1px 3px 0 rgba(60, 75, 100, .2);
    border-width: 0px;
    //transition: all 0.3s ease-in-out;
    margin-bottom: 30px;
    .card-body {
        flex: 1 1 auto;
        padding: 1.25rem;
    }
    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 1px solid;
        border-color: #d8dbe0;
        background-color: $white;
        &:first-child {
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }
    }
    .card-footer {
        background-color: $white;
        border-top: none;
    }
}

.dashboard-card-widgets {
    .card {
        a:not(.btn) {
            color: inherit;
        }
        .card-body {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .card-title {
            margin-bottom: 0px;
        }
        .card-text {
            font-size: 80%;
        }
        .digit {
            font-size: 1.25rem;
        }
    }
}

.user-profile-page-card {
    .emp-name {
        font-size: 1.25rem;
        margin-top: 15px;
    }
    .dp-section {
        text-align: center;
    }
}

.profile-card-conntainer {
    margin-bottom: 15px;
    .ci-card,
    .card {
        .card-body {
            padding: 5px 15px 15px 15px;
            .other-info {
                font-size: 80%;
            }
        }
    }
}