// Import Bootstrap variables for use within theme
@import "../../../node_modules/bootstrap/scss/functions.scss";
@import "../../../node_modules/bootstrap/scss/variables.scss";
// Import spacing variables
@import "./variables/spacing.scss";
// Import navigation variables
@import "./variables/navigation.scss";
// Override Bootstrap lib variables
$primary: #0061f2 !default;
$link-color: $primary;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-border-color: $primary;